.headerWrap {
  position: absolute;
  text-align: center;
  padding-top: 36px;
  left: 0;
  top: 0;
  width: 100%;
  height: 180px;
  background-color: var(--theme-color-grey);
}

.formContentWrap {
  max-width: 1400px;
  margin: 0 auto
}
